<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="navbar-brand" asp-area="" asp-controller="Productos" asp-action="Index" asp-route-categoria="Combos">Combos</a>
    </li>
    <li class="nav-item">
        <a class="navbar-brand" asp-area="" asp-controller="Productos" asp-action="Index" asp-route-categoria="Piezas">Piezas</a>
    </li>
    <li class="nav-item">
        <a class="navbar-brand" asp-area="" asp-controller="Productos" asp-action="Index" asp-route-categoria="Salads">Salads</a>
    </li>
    <li class="nav-item">
        <a class="navbar-brand" asp-area="" asp-controller="Productos" asp-action="Index" asp-route-categoria="Entradas">Entradas</a>
    </li>
    <li class="nav-item">
        <a class="navbar-brand" asp-area="" asp-controller="Productos" asp-action="Index" asp-route-categoria="Salsas">Salsas</a>
    </li>
    <li class="nav-item">
        <a class="navbar-brand" asp-area="" asp-controller="Productos" asp-action="Index" asp-route-categoria="Bebidas">Bebidas</a>
    </li>
    <li class="nav-item">
        <a class="navbar-brand" asp-area="" asp-controller="Productos" asp-action="Index" asp-route-categoria="Postres">Postres</a>
    </li>
</ul>
